<!DOCTYPE html>
<html lang="pt-br">
<body>
    <section class="principal">
        <section class="logo">
            <h1>Receita médica</h1>
        </section>

        <section class="informacoes">
            <h3>Informações do paciente</h3>
            <label for="Nome-do-paciente" class="Nome-do-paciente">Nome do paciente: </label>
            <label for="idade" class="idade">Idade: </label>
            <label for="sexo" class="sexo">Sexo:</label>

            <h3>Descrição da receita</h3>
            <label for="medicamento" class="medicamento">Medicamento:</label>
            <label for="orientacoes" class="orientacoes">Orientações:</label>
        </section>
    </section>
</body>
</html>
