<!DOCTYPE html>
<html lang="pt-br">
<body>
    <section class="principal">
        <section class="logo">
            <h1>Prontuário médico</h1>
        </section>

        <section class="informacoes">
            <h3>Informações pessoais</h3>
            <label for="nome" class="nome">Nome: </label>
            <label for="sexo" class="sexo">Sexo: </label>
            <label for="rg" class="rg">RG:</label>
            <label for="idade" class="idade">Idade: </label>
            <label for="contato" class="contato">Contato: </label>

            <h3>Informações médicas</h3>
            <label for="doença" class="doença">Doença:</label>
            <label for="alergia" class="alergia">Alergia:</label>
            <label for="historico-familiar" class="historico-familiar">Histórico familiar de doenças: </label>
        </section>
    </section>
</body>
</html>
